#chatDisplay {
    height: 200px;
    overflow-y: scroll;
}

.alert{
    margin-top: 20px;
}

body {
    background-size: cover;
    background-image: url("../images/rps_image.jpg")
}

.jumbotron {
    padding: 10px;
    background: none; 
}

.card {
    background: none;
}

.rps {
    background-color: white;
}